main {
	width: 90%;
	margin: 50px auto;
}

.container {
	background-color: #f0f5fc;
	padding: 20px;
	border-radius: 5px;
}

.title {
	margin-left: 30px;
	margin-bottom: 20px;
}

.field-validation-error {
	color: red;
	font-size: 0.8rem;
}

.field-error {
	border-color: red;
}
